body {
  background-color: rgb(242, 159, 197);
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}

.top-bar {
  background-color: rgb(255, 245, 155);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.bottom-bar {
  background-color: rgb(255, 245, 155);
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.container {
  width: 700px;
  margin: auto;
  background: rgb (247, 189, 219);
  border-radius: 60px;
  padding: 20px;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-small {
  width: 120px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-btn {
  background: rgb(247, 189, 219);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

/*hero*/
.hero {
  text-align: center;
}

.date {
  color: rgb(247, 189, 219);
  font-weight: bold;
}

.ticket-yellow {
  background: rgb(255, 245, 155);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}